# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Sprint 2/autosave/__AUTO-SAVE__untitled.0033.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0032.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0031.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0030.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0029.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0028.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0027.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0026.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0025.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0024.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0023.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0022.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0021.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0020.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0019.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0018.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0017.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0016.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0015.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0014.mb
Sprint 2/assets/FBX/chiwa-dya-2.fbx
Sprint 2/assets/FBX/chiwa-dya-highpoly-2.assbin
Sprint 2/assets/FBX/chiwa-dya-highpoly-2.fbx
Sprint 2/assets/FBX/chiwa-dya-highpoly.fbx
Sprint 2/assets/FBX/chiwa-dya.fbx
Sprint 2/assets/FBX/dalucha.fbx
Sprint 2/assets/FBX/ghyampo-high-poly.fbx
Sprint 2/assets/FBX/ghyampo.fbx
Sprint 2/assets/FBX/sukunda-ZBRUSH.fbx
Sprint 2/autosave/__AUTO-SAVE__untitled.0034.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0035.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0036.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0037.mb
Sprint 2/autosave/__AUTO-SAVE__untitled.0038.mb
Sprint 2/autosave/sukunda.0017.mb
Sprint 2/autosave/sukunda.0018.mb
Sprint 2/scenes/props/chiwa-dya2.mb
Sprint 2/substance/chiwa-dya.spp
Sprint 2/substance/chiwa-dya_autosave_0.spp
Sprint 2/substance/chiwa-dya_autosave_1.spp
Sprint 2/substance/ghyampo.spp
Sprint 2/substance/ghyampo_autosave_0.spp
Sprint 2/substance/ghyampo_autosave_1.spp
Sprint 2/substance/sukunda.spp
Sprint 2/substance/sukunda_autosave_0.spp
Sprint 2/substance/sukunda_autosave_1.spp
Sprint 2/Zbrush/chiwa-dya.zpr
Sprint 2/Zbrush/ghyampo.zpr
Sprint 2/Zbrush/ZBrushProject.zpr
Sprint 2/assets/FBX/dalucha.fbx
